/*
* @Author: jiayi
* @Date:   2017-11-05 14:45:56
* @Last Modified by:   嘉怡吖
* @Last Modified time: 2017-11-11 14:34:59
*/
*{
	margin: 0;
	padding: 0;
}

body,html{
	width: 100%;
}

.wrap{
	background-color: #f0f6e4;
	width: 22%;
	min-width: 300px;
	position: fixed;
	height: 100vh;
	border-right: 1px solid gray;
	box-shadow: 2px 2px 2px gray;
}
.wrap h4{
	text-align: center;
    padding: 10px;
    margin: 0;
	border-bottom: 1px dashed gray;
	*box-shadow: 0 1px 1px gray;
}
.wrap h4:hover{
	background-color: #c2c7b6;
}

.aChoose{
	*border: 1px solid gray;
	width: 100%;
	height: 240px;
	overflow-y: auto;
	margin: 0;
}
.aChoose > div{
	margin: 10px;
}

.aChoose label{
	width: 25%;
	text-align: right;
	padding-right: 12px;
	font-size: 1.8rem;
}

.aChoose select{
	width: 70% !important;
}
.treewrap{
	width:100%;
	height: calc(100vh - 240px);
	overflow: auto;
	border-top:2px solid gray;
	box-shadow: 2px 2px 2px gray;
}
.ztree{
	overflow-y: auto;
}

